@model FMS_M1_175272M.Models.ViewModels.Account.ResetPasswordVM
<link rel="stylesheet" href="~/css/details.css" />

<h2>Reset Password</h2>

<div asp-validation-summary="All" id="validationSummary"></div>

<form asp-controller="Account" asp-action="ResetPassword" method="post">

    <p>
        <label asp-for="Identification"></label>
        <input asp-for="Identification" value="@(Model.Identification)"/>
    </p>

    <p>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
    </p>

    <p>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword"/>
    </p>

    <p>
        <button type="submit">Change Password</button>
        <button type="reset">Reset</button>
    </p>
</form>